form(method='POST' action='/new')
  input(name="messageUser" type='text' placeholder='Name...')
  br
  input(name="messageText" type='text' placeholder='Mesage...')
  br
  input(type='submit' value='Submit')